---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog Page";
const allPosts = await getCollection('posts');
import BlogPost from "../components/BlogPost.astro";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Learning Astro Blog Site!</h2>
	<p>This is the blog page on my website,
		and here I will post about my journey learning Astro.
	</p>
	<ul>
		{allPosts.map((post)=> <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />)}
	</ul>
</BaseLayout>
